doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title Recuperar contraseña
    style.
      body{
      width:100%;
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      }
      .content{
      max-width:400px;
      padding:20px;
      border-radius:5px;
      box-shadow:0px 0px 10px grey;
      }
      img{
      width:100px;
      }
      header{
      display:flex;
      flex-direction:column;
      align-items:center
      }
      input[type="mail"]{
      width:100%;
      height:26px;
      font-size:22px;
      border:none;
      border-bottom:1px solid grey;
      margin-bottom:15px
      }
      .comandos{
      display:flex;
      justify-content:flex-end
      }
      .comandos>*{
      margin:3px;
      height:30px;
      border:none;
      box-shadow:0px 0px 5px grey;
      cursor:pointer;
      font-size:18px
      }
      .comandos>*:hover{
      box-shadow:0px 0px 1px grey;
      }
      .comandos>*:nth-child(1){
      background-color:#068ffb;
      color:white
      }
    script.
      function cambiar(){
      location.href="/"
      }
      function verifica(){
      let correo = document.getElementById('correo').value
      sessionStorage.setItem('correo', correo)
      return true
      }
  body
    .content
      header
        img(src='http://localhost:3000/logos/logonitvel.png', alt='')
        h2 Rescata tú cuenta
      hr
      main
        p Por favor introduce el correo electrónico para verificar
        form(action='/contrasena', method='post', onsubmit="return verifica()")
          label(for='contra')
            input#correo(type='mail', placeholder='Correo electronico', name='contra', required='')
          .comandos
            input(type='submit')
            input(type='button', onclick='cambiar()', value='Cancelar')